*{
    margin: 0;
    padding: 0;
}
html,body,.root{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;
    position: relative;
}
/* 自己 */
.self{
    position: absolute;
    background-color: #234567;
}